#title{
    background-color:red;
    color:blue;
}

#content{
    color:red;
}
/*Style Standers*/
.model-content{

}
/*this is style sheet*/
/*modelContent {
}

.ModelContent {
}
 */